@import "tailwindcss";

.ticker-track {
  animation: ticker 22s linear infinite;
}

.ticker-track:hover {
  animation-play-state: paused;
}

@keyframes ticker {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}

html {
  scroll-behavior: smooth;
}